.thImg {
  width: 60px;
  margin-top: 20px;
  z-index: 99;
}
.thCol {
font-size: 14px;
font-weight: 500;
padding-left: 5px;
}
.thColTotal {
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
  text-align: right;
  font-weight: bold;
  }
.cardProductDetail {
  position: relative;
  margin-top: 150px;
  width: 100%;
}

.itemProduct {
  width: auto !important;
  height: 370px !important;
}

.productDescription {
  font-weight: 600 !important;
  font-size: 16px !important;
  padding: 10px;
}

.containerCarrito{
  padding-left: 50px;
}

.productPrice {
  font-weight: 600 !important;
  font-size: 22px !important;
  padding: 10px;
}
.productTotal{
  padding-top: 30px;
  font-weight: 600 !important;
  text-align: center;
  font-size: 32px !important;
}
.flex-container {
  margin-top: 200px;
  display: flex;
  justify-content: center;     
  height: 100%;
  padding: 15px;
  gap: 5px;
  padding-bottom: 100px;
}

.flex-container > div{
  padding: 8px;
}

.buttonL {
  border-radius: 10px 0px 0px 10px !important;
  font-size: 19px !important;
  font-weight: 600 !important;
}

.buttonR {
  border-radius: 0px 10px 10px 0px !important;
  font-size: 19px !important;
  font-weight: 600 !important;
}

.contador {
  border-radius: 0px 0px 0px 0px !important;
  font-weight: 600 !important;
  width: 80px;
  cursor: none !important;
}

.buttonAgregar {
  width: 154px;
  margin-top: 20px !important;
  border-radius: 10px 10px 10px 10px !important;
}

.buttonPagar {
  background-color: red !important;
  border-color: red !important;
  width: 154px;
  margin-top: 20px !important;
  border-radius: 10px 10px 10px 10px !important;
}

.buttonMasMenos {
  background-color: red !important;
  border-color: red !important;
  width: 10px;
  height: 15px;
  padding-bottom: 25px !important;
  padding-top: 0px !important;
  font-size: 9pt;
  text-align: center;
  border-radius: 5px 5px 5px 5px !important;
}

.buttonContainer {
  width: 200px;
  display: flex;
  justify-content: center;      
}

.sinStock {
  margin-top: -30px;
  width: 210px;
  font-size: 9px;
  color: red;
}

.conStock {
  margin-top: -40px;
  width: 210px;
  font-size: 9px;
  color: green;
}

.trashIcon {
  margin-top: -15px;
  margin-left: 25px;
  width: 20px;
  cursor: pointer;
}

.trashIcon:hover {
  width: 22px;
  cursor: pointer;
}