.cart {
    position: absolute;
    top: 35px;
    right: 50px;
    z-index: 997;
    cursor: pointer;
}

.bgContador {
    position: relative;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    bottom: 27px;
    left: 15px;
}

.cart p{
    position: relative;
    color: white;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    bottom: 6px;
}

.logoCart {
    width: 30px;
    height: 30px;
}
