.container {
    width: fit-content !important;
  }
  
  .navbar-nav{
    margin-top: 25px;
    padding-left: 20%;
    font-weight: 600;
}

a{
  color: #151515 !important;
  text-decoration: none;
  background-color: transparent;
}

a:hover{
  color: red !important;
  font-weight: 600;
  text-decoration: none !important;
}

.divNav{
  cursor: pointer;
  margin-top: 8px;
  margin-left: 20px;
  font-size: large;
  font-weight: 600; 
}

.divNavDrop{
  cursor: pointer;
  margin-top: 0px;
  margin-left: 20px;
  font-size: large;
  font-weight: 600;
}

.divNav:hover{
  color: red !important;
  font-weight: 600;
  text-decoration: none !important;
}